nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 5px;
  height: 25px;
}

.top-left {
  height: 0px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 101, 136);
 background-image: url(images/city-scape.svg);
  background-size:100%;
  background-repeat: no-repeat;
}

.half-two {
  padding-bottom: 75px;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  color: white;
}

.half-two, p {
  width : 35%;
}

.npm-logo {
  padding-top: 5px;
  height: 50px;
}

.searchbar {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 7px;
  background-color: rgb(31, 82, 111);
  width: 1150px;
}

.headpos {
  display: flex;
  align-items: flex-start;
}

.signing {
  display: flex;
  align-items: row;
  list-style: none;
  color: #BDBDBD;
}

.signing a{
  text-decoration: none;
  color: #BDBDBD;
}

.bearlogo {
  margin-left: 7px;
  width: 50px;
}

.npmbutton {
  text-decoration: none;
  background-color: rgb(240, 146, 51);
  color: white;
  border: 5px solid rgb(240, 146, 51);
  border-radius: 50px;
  box-sizing: border-box; 
  padding: 10px;
}

.paragraph {
  margin-bottom: 50px;
}

.collab {
  width: 475px;
}

.orgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(39, 53, 71);
    padding-bottom: 75px;
  padding-top: 75px;
}

.half-three {
  display: flex;
  flex-direction: column;
  color: white;
}

.redbutton {
  width: 150px;
    text-decoration: none;
  background-color: rgb(203, 56, 55);
  color: white;
  border: 1px solid rgb(203, 56, 55);
  border-radius: 50px;
  box-sizing: border-box; 
  padding: 10px;
}

.white {
  text-decoration: none;
  color:white;
}

.spaced {
  margin-bottom: 30px;
}

.npm {
  display: flex;
  background-image: url(images/forklift.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding-bottom: 150px;
  justify-content: left;
  flex-direction: column;
  padding-left: 200px;
  font-size: 1em;
}

.half-four{
  margin-top: 50px;
  margin-bottom: 25px;
}

.sized {
  font-size: 2.25em;
  font-weight: normal;
}

.thirdbutton {
  width: 100px;
    text-decoration: none;
  background-color: rgb(49, 68, 88);
  color: white;
  border: 1px solid rgb(49, 68, 88);
  border-radius: 50px;
  box-sizing: border-box; 
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.half-five {
  color: rgb(135, 145, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uses {
  background-color: white;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.redtext {
  text-decoration: none;
  color:rgb(208, 74, 73);
}

.greytext {
  color:rgb(135, 145, 156);
}




